{% load staticfiles %}
<html>
<head>
    <title>{% block head_title %}gray-hat{% endblock head_title %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" >

    <link rel="stylesheet" href='{% static "css/base.css" %}' />
    <style>
        {% block style %}{% endblock style %}
    </style>
{% block extra_head %} {% endblock extra_head %}
</head>
<body>
{% include "messages.html" %}
<div class="container">
{% block content %}{% endblock content %}
</div>
{#<img src="{% static 'img/beach.jpg' %}">#}

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}" ></script>
<script src="{% static 'js/marked.js' %}" > </script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".content-markdown").each(function () {
            var content = $(this).text()
{#            console.log(content)#}
            var markedContent = marked(content)
{#            console.log(markedContent)#}
            $(this).html(markedContent)
        })
        $(".post-detail-item img").each(function () {
           $(this).addClass("img-responsive")
        })
    })
</script>

</body>
</html>