<html>
<header>
    <title>Welcome to gray-hat.org</title>
</header>
<h1> {{ title }} is working </h1>

{% for obj in object_list %}
{#    <a href="/post/{{ obj.id }}">{{ obj.title }}</a> </br> #} <!-- method 1: hard coding url -->
{#    <a href='{% url "details" id=obj.id %}'>{{ obj.title }}</a>#} <!-- method 2: using named urls -->
{#    {% url "posts:details" id=obj.id %}#}
    <a href="{{ obj.get_absolute_url }}"> {{ obj.title }} </a> </br> <!-- method 3: getting url from model -->
    {{ obj.content }} </br>
    {{ obj.created }} </br>
    {{ obj.updated }} </br> </br>
{% endfor %}
</body>
</html>