{% extends "base.html" %}

{% block content %}
    <div class="col-sm-8">
{#        <h1> {{ title }}</h1>#}
    {% for obj in object_list %}
        <div class="row">
        <div class="col-sm-12" >
        <div class="thumbnail">
            {% if obj.image %}
            <img src="{{ obj.image.url }}">
            {% endif %}
          <div class="post-detail-item caption" >
              <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <small><span class="glyphicon glyphicon-calendar"></span>{{ obj.publish|timesince }} ago</small></h2>
              <span class=" glyphicon glyphicon-eye-open"></span> {{ obj.total_views }} <span class="glyphicon glyphicon-user"></span> {{ obj.author.get_full_name }}
              <span class="glyphicon glyphicon-folder-open"></span>
                {% for cat in obj.categories.all|slice:':1' %}
                    {{ cat }}
                {% endfor %}
                {% for cat in obj.categories.all|slice:'1:' %}
                    , {{ cat }}
                {% endfor %}
{#              {% if obj.author.get_full_name %}#}
{#                  <span class="glyphicon glyphicon-user"> {{ obj.author.get_full_name }}</span>#}
{#            {% endif %}#}
            <p class="text-justify">{{ obj.get_markdown|truncatechars_html:240}}</p>
            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Read More</a>
          </div>
        </div>
        </div>
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
    </div>
    </div>
    <div class="col-sm-4 fixed">
         <form role="search" method="GET" action="">
            <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" aria-describedby="btnGroupAddon">Search</button>
                </span>
            </div>
        </form>
        <hr>
            <div class="panel panel-default">
            <div class="panel-heading">
            <h4 class="text-center">TOP POSTS</h4>
            </div>
            <ul class="list-group">
                {% for obj in top_post %}
                <li class="list-group-item"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
     </div>
{#    search box#}

{% endblock content %}

