{% extends "base.html" %}
{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive">
    {% endif %}
    <h3>{{ instance.title }} <small>{{ instance.publish }}</small></h3>
        {% if instance.draft %} <span style="color: red;">Draft : staff only</span>{% endif %}<br>
        {% if instance.publish > today %} <span style="color: red;">Future post : staff only</span> {% endif %}
    {% if instance.author.get_full_name %}
    <p class="text-primary">Author: {{ instance.author.get_full_name }}</p>
    {% endif %}
    <hr>
    <div class="post-detail-item">{{ instance.get_markdown }}</div> </br>
    </div>
{% endblock content %}
