{% extends "base.html" %}
{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive">
    {% endif %}
    <h1>{{ instance.title }}{% if instance.publish %} <span style="color: red;">Draft</span>
    {% endif %} <small>{{ instance.publish }}</small></h1>
    {% if instance.author.get_full_name %}
    <p class="text-primary">Author: {{ instance.author.get_full_name }}</p>
    {% endif %}
    <hr>
    {{ instance.content|linebreaks }} </br>
    </div>
{% endblock content %}
